node_modules/
client/node_modules/
server/node_modules/
*node_modules - Copy*/

.env
client/.env
server/.env
.env.local
.env.*.local

*.log
debug.log
node_test_output.txt

.DS_Store
.vscode/
.vscode-cli/

* - Copy*
